/*
 * These colors communicate an accessibility rating. They are used to indicate the level of
 * accessibility of a place or physical feature.
 *
 * We call these colors "traffic light scheme", they are used throughout the whole app, for example
 * as map marker background/foreground colors.
 */

:root {
  --rating-yes: var(--grass-9);
  --rating-limited: var(--orange-9);
  --rating-no: var(--ruby-9);
  --rating-unknown: var(--gray-9);

  --rating-yes-contrast: var(--grass-contrast);
  --rating-limited-contrast: var(--orange-contrast);
  --rating-no-contrast: var(--ruby-contrast);
  --rating-unknown-contrast: var(--gray-contrast);
}
