{
  "presets": [[
    "next/babel",
    {
      "preset-env": {
        "useBuiltIns": "entry",
        "loose": true,
        "corejs": 3
      },
      "transform-runtime": {
        "corejs": 3,
        "useESModules": false
      },
      "class-properties": {}
    }
  ]], // https://goo.gl/aqbWJY
  "plugins": [
    "babel-plugin-styled-components"
  ],
}
