{
  "plugins": [
    "syntax-jsx",
    "syntax-flow",
    "syntax-class-properties",
    "syntax-object-rest-spread",
    ["./retranslate/babel-plugin-retranslate/dist-plugin.js", {
      "replacement": "./public/i18n/de.txt"
    }]
  ]
}