# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# compiled code
dist/

# testing
/coverage

# production
/build

# built npm module code
/lib

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IntelliJ IDEA files
*.iml
.idea

# Misc
.env*
!.env.example
npm-debug.log*

/test/screenshots
/Preview.html
.next
env/*
!env/.gitkeep

*secret.yaml
*secret.yml
/screenshots
/local.log
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Transifex api package
.api
