# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# built npm module code
/lib

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IntelliJ IDEA files
*.iml
.idea

# Misc
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cordova
/platforms/
/plugins/
/www/
resources/signing
*.xcuserdatad

