# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
/build

# built npm module code

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IntelliJ IDEA files
*.iml
.idea

# Misc
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cordova iOS
/platforms/ios/build/
/platforms/ios/www/
/platforms/ios/cordova/console.log
*.xcuserdatad
Products
*.ipa
*.dSYM.zip
*.dSYM
/platforms/ios/*.xcarchive


# Cordova Android
/platforms/android/assets/www
/platforms/android/bin
/platforms/android/gen
/platforms/android/local.properties
/platforms/android/ant-build
/platforms/android/ant-gen
/platforms/android/CordovaLib/ant-build
/platforms/android/CordovaLib/ant-gen
/platforms/android/CordovaLib/bin
/platforms/android/CordovaLib/gen
/platforms/android/CordovaLib/local.properties
/platforms/android/.gradle
/platforms/**/build
buildOutputCleanup

# Cordova general
/www
/platforms/**/app/src/main/assets/www
resources/signing
*.xcuserdatad

# Fastlane / Ruby
/vendor/bundle/

/fastlane/report.xml

# deliver temporary files
/fastlane/Preview.html

# snapshot generated screenshots
/fastlane/screenshots

# scan temporary files
/fastlane/test_output
release-signing.properties

# This contains source translations for transifex.
# They should always be locally built before pushing and not be commited.
/public/i18n/translations.pot