{
  "plugins": [
    "syntax-class-properties",
    "syntax-object-rest-spread",
    "syntax-jsx",
    "syntax-flow",
    ["./retranslate/babel-plugin-retranslate/dist-plugin.js", {
      "replacement": "../public/i18n/en_US.txt"
    }]
  ]
}