@import '../node_modules/react-activity/dist/react-activity.css';

html, body, #root, .app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.subtle {
  font-weight: lighter;
  opacity: 0.5;
}


body, button, input, select, textarea {
  /* Mix of the two system font stacks used by GitHub and Medium. */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

