html {
  background-color: #6c7374;
}

body {
  position: fixed;
  overscroll-behavior: none;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#__next,
.main-view {
  /* width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh; */
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

/*
    This will hide the focus indicator if the element receives focus via the mouse,
    but it will still show up on keyboard focus.
  */

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/*
    We use a stronger and consistent focus indicator when an element receives focus via
    keyboard.
  */

.js-focus-visible .focus-visible {
  outline: none;
  box-shadow: inset 0px 0px 0px 2px #4469e1;
  transition: box-shadow 0.2s;
}

.radio-group:focus-within,
[role="radiogroup"]:focus-within {
  box-shadow: 0px 0px 0px 2px #4469e1;
  transition: box-shadow 0.2s;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#lightboxBackdrop {
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.9);
}
