html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

/*
Focus ring styling is disabled by default and instead we are using the :focus-ring polyfill. The
:focus-ring pseudo selector is a future browser standard that differentiates between mouse
and keyboard usage when determining whether to draw a focus ring. Usually we only want a
focus ring in the latter case.
*/
*:focus {
  outline: none;
}

*.focus-ring {
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 2px #4469E1;
  transition: box-shadow 0.2s;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
